*{
margin:0px;
padding:0px;
}
.head_1{
	width:100%;
	height:40px;
	background:#1C232B;
	position:fixed;
	margin-top:0px;
	z-index: 11;
}
.a{
	width:130px;
	margin-left:30px;
	margin-top:10px;
}
.aaaa{
	list-style:none;
	color:#FFF;
	margin-left:180px;
	font-size:12px;
	margin-top:-23px;
}
.aaaa li:hover{
   color:#D8B056;
}
.aaaa li{
	float:left;
	margin-left:10px;
}
.a3{
	margin-left:-15px;
	color:#FFFFFF;
}
.a4{
	padding-left:-200px;
	margin-top:-10px;
	transition: all 2s ease;
}
.a5{
	width:80px;
	height:25px;
	background:#D8B056;
	border-radius:50px;
	padding-left:25px;
	padding-top:8px;
	margin-top:-8px;
	color:#1C232B;
}
.a6{
	padding-left:850px;
}
.wen{
height:20px;
outline:medium;
border-top:1px #FFFFFF;
opacity:0.2;
width:150px;
margin-top:-10px;
	transition:all 1.5s ease;
}
.wen:hover{
width:290px;
opacity:0.5;
}
.b{
	width:100%;
	height:80px;
	position:absolute;
}
.b1{
	list-style:none;
	font-size:20px;
	margin-top:80px;
	margin-left:240px;
}
.b1 li{
	float:left;
	margin-left:30px;
}
.b1 li:hover{
	border-bottom-style:solid;
	color:#E0C379;
}
.z{
	width:100%;
	height:480px;
	background:#0F151C;
}
.z1{
	margin-left:60px;
	margin-top:30px;
}
.z2{
	list-style:none;
	color:#D8B056;
	margin-left:140px;
	margin-top:-60px;
	font-size:20px;
	line-height:25px;
}
.z3{
	font-size:15px;
	color:#CCCCCC;
}
.z4{
	list-style:none;
	color:#CCCCCC;
	font-size:15px;
	margin-left:380px;
	margin-top:-100px;
	line-height:25px;
}
.z5{
	list-style:none;
	color:#CCCCCC;
	font-size:15px;
	margin-left:500px;
	margin-top:-200px;
	line-height:25px;
}
.z6{
	list-style:none;
	color:#CCCCCC;
	font-size:15px;
	margin-left:660px;
	margin-top:-200px;
	line-height:25px;
}
.z7{
	list-style:none;
	color:#CCCCCC;
	font-size:15px;
	margin-left:780px;
	margin-top:-225px;
	line-height:25px;
}
.z8{
	list-style:none;
	color:#CCCCCC;
	font-size:15px;
	margin-left:890px;
	margin-top:-150px;
	line-height:25px;
}
.z9{
	list-style:none;
	color:#CCCCCC;
	font-size:15px;
	margin-left:1000px;
	margin-top:-103px;
	line-height:25px;
}
.z10{
	list-style:none;
	color:#CCCCCC;
	font-size:15px;
	margin-left:1130px;
	margin-top:-150px;
	line-height:25px;
}
.z11{
	list-style:none;
	color:#CCCCCC;
	font-size:15px;
	margin-left:1250px;
	margin-top:-150px;
	line-height:25px;
}
.z12{
	list-style:none;
	color:#CCCCCC;
	font-size:15px;
	margin-left:1360px;
	margin-top:-180px;
	line-height:25px;
}
h3{
	color:#CCCCCC;
	margin-left:1550px;
	margin-top:-220px;
}
.z13{
	margin-left:1553px;
}
.z14{
width:1500px;
	margin-top:100px;
	margin-left:200px;
}
.z15{
	color:#999999;
	font-size:13px;
	margin-left:550px;
	margin-top:30px;
}
.z16{
	color:#999999;
	font-size:13px;
	margin-left:590px;
	margin-top:10px;
}
.z17{
	margin-left:800px;
	margin-top:5px;	
}
.z18{
	color:#999999;
	font-size:10px;
	margin-left:840px;
	margin-top:-28px;
}
